---
import AppShell from '../../layouts/AppShell.astro';
import TripForm from '../../components/TripForm';
---

<AppShell title="Nowy wyjazd">
  <div class="page">
    <h1 class="page-title">Nowy wyjazd</h1>
    <TripForm client:load />
  </div>
</AppShell>
