---
import AppShell from '../layouts/AppShell.astro';
import TripList from '../components/TripList';
---

<AppShell title="Wyjazdy">
  <div class="page">
    <h1 class="page-title">Wyjazdy</h1>
    <TripList client:load />
  </div>
</AppShell>
