---
import AppShell from '../layouts/AppShell.astro';
import RequireAuth from '../components/RequireAuth';
import CurrencyCalculator from '../components/CurrencyCalculator';
---

<AppShell title="Kalkulator walut">
  <RequireAuth client:load />
  <div class="page">
    <h1 class="page-title">Kalkulator walut</h1>
    <CurrencyCalculator client:load />
  </div>
</AppShell>
