---
import AppShell from '../layouts/AppShell.astro';
import WorldMap from '../components/WorldMap';
---

<AppShell title="Mapa">
  <div class="page">
    <h1 class="page-title">Mapa</h1>
    <WorldMap client:load />
  </div>
</AppShell>
